@font-face {
    src: url(../font/Raleway/Raleway-Medium.ttf);
    font-family: Raleway-Medium;
}

@font-face {
    src: url(../font/Raleway/Raleway-Regular.ttf);
    font-family: Raleway-Regular;
}

@font-face {
    src: url(../font/Nunito/Nunito-Bold.ttf);
    font-family: Nunito-Bold;
}

@font-face {
    src: url(../font/Nunito/Nunito-SemiBold.ttf);
    font-family: Nunito-SemiBold;
}



body {
    font-family: Raleway-Medium;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    list-style: none; 
}

a {
    color: unset;
}

a:hover {
    text-decoration: unset;
}

.title-small {
    font-family: Nunito-SemiBold;
    font-style: italic;
    text-transform: uppercase;
    color: $color-pink-0;
    font-size: rem(14px);
    letter-spacing: rem(1.68px);
    margin-bottom: rem(24px);
}

.title-large {
    font-family: Nunito-Bold;
    color: $color-purple-0;
    font-size: rem(36px);
    letter-spacing: rem(0.72px);
    margin-bottom: 0;
}

.title-white {
    font-family: Nunito-Bold;
    color: $color-white-0;
    font-size: rem(36px);
    letter-spacing: rem(1.44px);
    margin-bottom: 0;
}

.text-orange {
    font-size: rem(18px);
    letter-spacing: rem(0.72px);
    color: $color-orange-0;
}

.page-content {
    padding-top: rem(97px);
}


.btn-border-white {
    font-weight: 700;
    font-size: rem(18px);
    letter-spacing: rem(0.72px);
    width: rem(300px);
    height: rem(70px);
    color: $color-white-0;
    border-radius: 38px;
    background-color: transparent;
    border: 2px solid $color-white-0;
}

.btn-border-purple {
    color: $color-purple-0;
    font-weight: 700;
    font-size: rem(12px);
    letter-spacing: rem(0.72px);
    padding: rem(18px) rem(66.7px) rem(18.9px) rem(64.8px);
    border-radius: 32px;
    background-color: transparent;
    border: 2px solid $color-purple-0;
}

.btn-color-pink {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: rem(13px);
    letter-spacing: rem(0.78px);
    width: rem(200px);
    height: rem(57px);
    border-radius: 32px;
    background-color: $color-pink-0;
    color: $color-white-0;
}

.btn-color-orange {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: rem(16px);
    letter-spacing: rem(0.96px);
    width: rem(267px);
    height: rem(76px);
    border-radius: 38px;
    background-color: $color-orange-0;
    color: $color-white-0;
}

@media (min-width: 1200px) and (max-width: 1449px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1450px) {
    .container {
        max-width: 1433px;
        padding: 0;
    }

    .container-vertical {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}


