.collaborative {
    background-image: url('../img/shutterstock.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &__text {
        width: 50%;
        background-color: $color-pink-1;
        padding-top: rem(175px);
        padding-left: rem(235px);
        padding-right: rem(70px);
        padding-bottom: rem(685px);
        height: calc(100% - 70px);
        position: relative;
        opacity: 0.85;

        .description {
            font-size: rem(21px);
            font-weight: 400;
            padding: rem(35px) 0;
            letter-spacing: 0.84px;
        }
    }

    &__info {
        position: absolute;
        bottom: 111px;
        width: 100%;
    }

    &__slide {
        margin-left: rem(-13px);
        margin-right: rem(-13px);
    }
    
    &__item {
        padding: rem(20px) rem(13px);
        text-align: left;
        
        
        &:focus {
            outline: unset;
        }
    }

    &__wrapper {
        background-color: $color-white-0;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
        border-radius: 20px; 
        padding: rem(95px) rem(25px) rem(65px) rem(40px);
        height: 100%;

        .title {
            font-family: Nunito-Bold;
            font-size: rem(24px);
            letter-spacing: rem(0.96px);
            margin-bottom: 0;
            color: $color-purple-0;
        }

        .description {
            font-weight: 400;
            font-size: rem(18px);
            letter-spacing: rem(0.18px);
            padding: rem(50px) 0;
            margin-bottom: 0;
            color: $color-purple-0;
        }

        .learn-more {
            font-size: rem(21px);
            letter-spacing: 0.84px;
        }

        .arrow {
            display: inline-block;
        }
    }


    &__bottom {
        background-color: $color-purple-0;
        color: $color-white-0;

        .question {
            font-size: rem(24px);
            letter-spacing: rem(0.96px);
            color: $color-pink-0;
        }

        .list {
            font-family: Nunito-Bold;
            font-size: rem(16px);
            letter-spacing: rem(0.64px);
            text-transform: uppercase;
        }

        &__content {
            padding: rem(20px) 0;
        }
    }

    .slick-list {
        display: flex;
    }

    .slick-track {
        display: flex;
    }
}