.feeling {
    background-color: $color-purple-0;
    color: $color-white-0;

    &__content {
        padding: rem(70px) 0;
    }

    &__title {
        font-family: Nunito-Bold;
        font-size: rem(36px);
        letter-spacing: rem(1.44px);
        margin-bottom: 0;
    }

    .btn-chat {
        margin-left: rem(72px);
    }
}