.getstarted {
    background-image: url('../img/Group 2329.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: $color-white-0;

    .getstarted__content {
        padding-left: rem(150px);
        padding-right: rem(150px);
    }

    .title-white {
        margin: rem(70px) 0;
    }
}