.industry {
    &__content {
        padding-left: rem(125px);
        padding-right: rem(125px);
    }

    &__slide {
        margin: 0 -40px;
    }

    &__item {
        padding: rem(40px);
        text-align: left;

        &:focus {
            outline: unset;
        }
    }

    &__wrapper {
        background-color: $color-white-0;
        border-radius: 20px; 
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
        height: 100%;
    
        .wrapper-description {
            padding-left: rem(30px);
            padding-right: rem(60px);
            padding-top: rem(35px);
            padding-bottom: rem(45px);
        }

        .date {
            font-size: rem(14px);
            font-weight: 400;
            letter-spacing: rem(0.56px);
            color: $color-purple-0;
            text-align: right;
            padding-top: rem(25px);
            padding-right: rem(25px);
            margin-bottom: 0;
        }

        .title {
            font-size: rem(24px);
            font-weight: 700;
            letter-spacing: rem(0.96px);
            color: $color-purple-0;
            margin-bottom: 0;
        }

        .description {
            font-size: 18px;
            letter-spacing: rem(0.72px);
            color: $color-purple-0;
            margin-top: rem(35px);
            margin-bottom: rem(40px);
        }

        .btn-read-more {
            font-size: rem(18px);
            font-weight: 700;
            letter-spacing: rem(0.72px);
            color: $color-purple-0;
        }
    }

    .slick-list {
        display: flex;
        padding-bottom: rem(20px);
        
    }
    
    .slick-track {
        display: flex;
        
    }
}