.mission {
    &__content {
        padding-right: rem(145px);
    }

    // &__left {
    //     margin-left: -115px;
    // }

    &__item {
        // width: 397px;
        padding: rem(17px);
        text-align: left;
        // transform: translateX(-180px);

        &:focus {
            outline: unset;
        }
    }
    &__wrapper {
        background-color: $color-white-0;
        border-radius: 20px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
        padding: rem(15px);
        height: 100%;

        .wrapper-img {
            position: relative;
        }

        .avatar {
            border-radius: 15px;
        }

        .bookmark {
            position: absolute;
            top: rem(-15px);
            right: rem(20px);
        }

        .name {
            margin-top: rem(27px);

            p {
                font-family: Nunito-Bold;
                font-size: rem(18px);
                letter-spacing: rem(0.72px);
                color: $color-purple-0;
            }
        }

        .sub-title {
            font-family: Nunito-SemiBold;
            font-size: rem(10px);
            font-style: italic;
            letter-spacing: rem(1.2px);
            text-transform: uppercase;
            color: $color-pink-0;
        }

        .description {
            font-size: rem(12px);
            font-weight: 500;
            letter-spacing: rem(0.48px);
            color: $color-purple-0;
        }

        .btn-read-more {
            font-size: rem(12px);
            font-weight: 700;
            letter-spacing: rem(0.48px);
            color: $color-purple-0;
            display: inline-block;
            margin-bottom: rem(40px);
        }
    }

    &__right {
        .description {
            font-weight: 500;
            font-size: rem(21px);
            letter-spacing: rem(0.84px);
            color: $color-purple-0;
        }
    }

    .slick-list {
        display: flex;
    }

    .slick-track {
        display: flex;
    }
}