.signout__form {
    .signout__item {
        position: relative;

        .form-control:focus {
            box-shadow: unset;
        }

        input {
            padding-right: 35px;
        }

        i {
            position: absolute;
            right: 12px;
            top: 10px;
        }
    }

  
}