.signin__form {
    .signin__item {
        position: relative;

        label {
            position: absolute;
            left: 12px;
            top: 5px;
            transition: all 0.3s;
        }

        input:focus ~ label {
            top: -15px;
            background-color: white;
        }

        label.active {
            top: -15px;
        }

        .form-control:focus {
            box-shadow: unset;
        }

        input {
            padding-right: 35px;
        }

        i {
            position: absolute;
            right: 12px;
            top: 10px;
        }
    }

  
}