.telemedicine {
    background-image: url('../img/Group 2332.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    &__slide__wrapper {
        margin-top: rem(70px);
        margin-bottom: rem(50px);
    }

    &__item {
        padding: 0 rem(17px);
        text-align: left;

        &:focus {
            outline: unset;
        }
    }
    
    &__wrapper {
        background-color: $color-white-0;
        border-radius: 20px; 
        padding: rem(55px) rem(42px) rem(80px) rem(42px);
        height: 100%;
        display: flex;
        flex-direction: column;

        .wrapper-img {
            width: rem(150px);
            height: rem(150px);
            background-color: $color-purple-2;
            border-radius: 50%;
            position: relative;
        }

        .wrapper-text {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        h4 {
            font-family: Nunito-Bold;
            font-size: rem(26px);
            letter-spacing: rem(0.78px);
            color: $color-purple-0;
            margin-bottom: rem(64px);
        }

        p {
            font-weight: 500;
            font-size: rem(18px);
            letter-spacing: rem(0.72px);
            color: $color-purple-0;
        }
    }

    .slick-list {
        display: flex;
    }

    .slick-track {
        display: flex;
        margin: 0 rem(-17px);
    }
    
    
}