.testimonials {
    background-color: $color-purple-3;

    &__content {
        padding-left: rem(150px);
        padding-right: rem(150px);
    }

    &__slide {
        margin: 0 -30px;
    }

    &__item {
        padding: rem(30px);
        text-align: left;

        &:focus {
            outline: unset;
        }
    }

    &__item-wrapper {
        background-color: $color-white-0;
        border-radius: 20px;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
        height: 100%;
        padding: rem(30px) rem(35px) rem(65px) rem(35px);
        font-size: rem(18px);
        color: $color-purple-0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .wrapper-description {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .description {
            margin-top: rem(115px);
            margin-bottom: rem(45px);
            font-weight: 500;
            letter-spacing: rem(0.72px);
        }

        .name {
            margin-bottom: 0;
        }
    }

    .slick-list {
        display: flex;
        padding-top: rem(40px);
        padding-bottom: rem(20px);
    }

    .slick-track {
        display: flex;
    }

    .slick-prev:before, .slick-next:before {
        color: black;
    }

    .slick-dots li button {
        width: rem(17px);
        height: rem(17px);
    }

    .slick-dots li.slick-active button:before {
        font-size: rem(17px);
        color: $color-purple-0;
    }

    .slick-dots button:before {
        font-size: rem(17px);
        color: $color-orange-2;
        opacity: 1;
    }

    .slick-dotted.slick-slider {
        margin-bottom: rem(90px);
    }
      
}