@charset "UTF-8";
@font-face {
  src: url(../font/Raleway/Raleway-Medium.ttf) format("truetype");
  font-family: Raleway-Medium;
}

@font-face {
  src: url(../font/Raleway/Raleway-MediumItalic.ttf) format("truetype");
  font-family: Raleway-MediumItalic;
}

@font-face {
  src: url(../font/Raleway/Raleway-Regular.ttf) format("truetype");
  font-family: Raleway-Regular;
}

@font-face {
  src: url(../font/Raleway/Raleway-Bold.ttf) format("truetype");
  font-family: Raleway-Bold;
}

@font-face {
  src: url(../font/Raleway/Raleway-SemiBold.ttf) format("truetype");
  font-family: Raleway-SemiBold;
}

@font-face {
  src: url(../font/Raleway/Raleway-ExtraBold.ttf) format("truetype");
  font-family: Raleway-ExtraBold;
}

@font-face {
  src: url(../font/Nunito/Nunito-Bold.ttf) format("truetype");
  font-family: Nunito-Bold;
}

@font-face {
  src: url(../font/Nunito/Nunito-SemiBold.ttf) format("truetype");
  font-family: Nunito-SemiBold;
}

@font-face {
  src: url(../font/Nunito/Nunito-SemiBoldItalic.ttf) format("truetype");
  font-family: Nunito-SemiBoldItalic;
}

@font-face {
  src: url(../font/Montserrat/Montserrat-Medium.ttf) format("truetype");
  font-family: Montserrat-Medium;
}

@font-face {
  src: url(../font/Montserrat/Montserrat-Bold.ttf) format("truetype");
  font-family: Montserrat-Bold;
}

@font-face {
  src: url(../font/Montserrat/Montserrat-SemiBold.ttf) format("truetype");
  font-family: Montserrat-SemiBold;
}

html {
  margin: 0px !important;
}

body {
  font-family: Raleway-Medium;
  color: #271c3f;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  list-style: none;
}

a {
  color: unset;
}

a:hover {
  text-decoration: unset;
}

.header__right li a.activeMenu {
  padding-bottom: 0.9375rem;
  position: relative;
}

.header__right li a.activeMenu::after {
  content: "";
  display: block;
  width: 1.875rem;
  height: 0.1875rem;
  background-color: #f1737f;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
}

.title-small {
  font-family: Nunito-SemiBoldItalic;
  text-transform: uppercase;
  color: #f1737f;
  font-size: 0.875rem;
  letter-spacing: 0.105rem;
  margin-bottom: 1.5rem;
}

.title-large {
  font-family: Nunito-Bold;
  color: #271c3f;
  font-size: 2.25rem;
  letter-spacing: 0.045rem;
  margin-bottom: 0;
}

.title-white {
  font-family: Nunito-Bold;
  color: #ffffff;
  font-size: 2.25rem;
  letter-spacing: 0.09rem;
  margin-bottom: 0;
}

.title-white-large {
  font-family: Nunito-Bold;
  color: #ffffff;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0;
}

.text-orange {
  font-size: 1.125rem;
  letter-spacing: 0.045rem;
  color: #f8b28e;
  font-family: Raleway-Bold;
}

.page-content {
  padding-top: 6.0625rem;
}

.btn-border-white-small {
  font-size: 0.75rem;
  letter-spacing: 0.045rem;
  width: 12.5rem;
  height: 3.125rem;
  line-height: 2.25rem;
  color: #ffffff;
  border-radius: 32px;
  background-color: transparent;
  border: 2px solid #ffffff;
  font-family: Raleway-Bold;
}

.btn-border-white-large {
  font-size: 1.125rem;
  letter-spacing: 0.045rem;
  width: 18.75rem;
  height: 4.375rem;
  line-height: 3.4375rem;
  color: #ffffff;
  border-radius: 38px;
  background-color: transparent;
  border: 2px solid #ffffff;
  font-family: Raleway-Bold;
}

.btn-border-purple-small {
  color: #271c3f;
  font-size: 0.75rem;
  letter-spacing: 0.045rem;
  width: 12.5rem;
  height: 3.125rem;
  line-height: 2.25rem;
  border-radius: 32px;
  background-color: transparent;
  border: 2px solid #271c3f;
  font-family: Raleway-Bold;
}

.btn-border-purple-large {
  color: #271c3f;
  font-size: 1.125rem;
  letter-spacing: 0.045rem;
  width: 18.75rem;
  height: 4.375rem;
  line-height: 3.4375rem;
  border-radius: 32px;
  background-color: transparent;
  border: 2px solid #271c3f;
  font-family: Raleway-Bold;
}

.btn-color-pink {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  font-size: 0.8125rem;
  letter-spacing: 0.04875rem;
  width: 12.5rem;
  height: 3.4375rem;
  border-radius: 32px;
  background-color: #f1737f;
  color: #ffffff;
}

.btn-color-orange {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.06rem;
  width: 16.5625rem;
  height: 4.6875rem;
  line-height: 3.75rem;
  border-radius: 38px;
  background-color: #f8b28e;
  color: #ffffff;
}

.page-content .slick-prev {
  width: 30px;
  height: 30px;
  border: solid 4px #271c3f;
  border-top: 0;
  border-right: 0;
  transform: rotate(45deg);
  background-color: unset;
}

.page-content .slick-prev.slick-disabled {
  opacity: 0.25;
}

.page-content .slick-prev::before {
  content: '';
}

.page-content .slick-next {
  width: 30px;
  height: 30px;
  border: solid 4px #271c3f;
  border-top: 0;
  border-right: 0;
  transform: rotate(-135deg);
  background-color: unset;
}

.page-content .slick-next.slick-disabled {
  opacity: 0.25;
}

.page-content .slick-next::before {
  content: '';
}

.container-vertical {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

@media (min-width: 1200px) and (max-width: 1449px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1450px) {
  .container {
    max-width: 1433px;
    padding: 0;
  }
}

@media (max-width: 768px) {
  #wpadminbar {
    display: none !important;
  }
  .header-top-mobile {
    margin-top: 0 !important;
  }
}

@media (max-width: 576px) {
  .title-small {
    font-size: 0.625rem;
    letter-spacing: 1.2px;
  }
  .title-large {
    font-size: 1.5rem !important;
    letter-spacing: 0.96px;
  }
  .btn-border-white {
    width: 100%;
    font-size: 1rem;
    letter-spacing: 0.06rem;
  }
  .btn-border-purple {
    width: 100%;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  z-index: 100;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2.8125rem;
}

.header__right li {
  display: inline-block;
  padding: 0 2.1875rem;
}

.header__right li a {
  font-size: 1.125rem;
  letter-spacing: 0.045rem;
  color: #271c3f;
}

.header__right .user-icon {
  width: 3.5625rem;
  height: 3.5625rem;
  margin-left: 0.625rem;
  border-radius: 32px;
  background-color: rgba(241, 115, 127, 0.27);
  position: relative;
  padding: 0;
}

.header__right .user-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__sub-right {
  border-left: 1px solid #271c3f;
}

.header__sub-right h5 {
  margin: 0 2.1875rem;
  font-size: 1.125rem;
}

.header__sub-right span {
  font-weight: bold;
}

.header__sub-right .btn-log-out {
  width: 7.5rem;
}

.header-mobile {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
}

.header-mobile .header-top-mobile {
  align-items: center;
}

.header-mobile div.screen {
  width: 100%;
}

.header-mobile .list {
  margin-top: 36px;
  text-align: left;
}

.header-mobile div.burger-mobile {
  cursor: pointer;
}

.header-mobile .bar1, .header-mobile .bar2, .header-mobile .bar3 {
  width: 2.1875rem;
  height: 0.1875rem;
  background-color: #f1737f;
  margin: 6px 0;
  transition: 0.4s;
}

.header-mobile .bar1 {
  width: 80%;
}

.header-mobile .bar3 {
  width: 40%;
}

.header-mobile .burger-mobile.open .bar1 {
  width: 100% !important;
}

.header-mobile .burger-mobile.open .bar3 {
  width: 100% !important;
}

.header-mobile div.buger-collapse {
  top: 10px;
  background: #f1737f;
  transition: all 70ms ease-out;
}

.header-mobile div.navbar {
  height: 6.0625rem;
  background: #ffffff;
}

.header-mobile div.menu {
  width: 100%;
  top: 0px;
  left: 0px;
  color: #271c3f;
  background-color: #ffffff;
  padding: 0 2.5rem;
  height: 0;
  overflow: scroll;
  text-align: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.header-mobile div.menu .user-icon {
  width: 2.1875rem;
  margin-bottom: 0.625rem;
}

.header-mobile div.menu h5 {
  font-size: 1.125rem;
}

.header-mobile div.menu h5 span {
  font-weight: bold;
}

.header-mobile div.menu ul li {
  list-style: none;
  top: 50px;
  left: 0;
  opacity: 0;
  padding: 2.1875rem 0;
  width: 100%;
  border-bottom: 1px solid #271c3f;
  text-align: center;
  font-size: 0px;
  transition: all 70ms cubic-bezier(0, 0.995, 0.99, 1);
}

.header-mobile div.menu ul li a {
  color: #271c3f;
  font-size: 1.125rem;
  letter-spacing: 0.045rem;
}

.header-mobile div.menu li.animate {
  font-size: 21px;
  opacity: 1;
  transition: all 150ms cubic-bezier(0, 0.995, 0.99, 1);
}

.header-mobile div.menu li.animate:nth-of-type(1) {
  top: 120px;
  transition-delay: 0s;
}

.header-mobile div.menu li.animate:nth-of-type(2) {
  top: 190px;
  transition-delay: 0.03s;
}

.header-mobile div.menu li.animate:nth-of-type(3) {
  top: 260px;
  transition-delay: 0.06s;
}

.header-mobile div.menu li.animate:nth-of-type(4) {
  top: 330px;
  transition-delay: 0.09s;
}

.header-mobile div.menu li.animate:nth-of-type(5) {
  top: 400px;
  transition-delay: 0.12s;
}

.header-mobile div.menu li.animate:nth-of-type(6) {
  top: 470px;
  transition-delay: 0.15s;
}

.header-mobile .open .bar1 {
  transform: rotate(-45deg) translate(-9px, 9px);
}

.header-mobile .open .bar2 {
  opacity: 0;
}

.header-mobile .open .bar3 {
  transform: rotate(45deg) translate(-3px, -5px);
}

.header-mobile .btn-sign-in {
  margin: 2.5rem 0;
}

.header-mobile .logout-icon {
  color: #f1737f;
  font-size: 1.5625rem;
}

.footer {
  background-color: #271c3f;
  color: #ffffff;
}

.footer__bottom {
  height: 3.125rem;
  background-color: #120331;
}

.footer__content {
  padding: 9.0625rem 8.75rem;
}

.footer__logo {
  padding-right: 40%;
}

.footer__item .title {
  font-family: Raleway-Bold;
  margin-bottom: 3.4375rem;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
}

.footer__item .sub-title {
  font-family: Raleway-SemiBold;
  font-size: 1.3125rem;
  letter-spacing: 0.0525rem;
  color: #f1737f;
}

.footer__item li {
  font-size: 1.125rem;
  letter-spacing: 0.045rem;
  margin-bottom: 2.1875rem;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.footer__icon {
  width: 70%;
}

.footer__policy li {
  display: inline-block;
  font-size: 1rem;
  letter-spacing: 0.04rem;
  color: #ffffff;
  opacity: 0.22;
  padding: 0 0.5rem;
}

.footer__policy li:first-child {
  padding-left: 0;
}

@media (max-width: 768px) {
  .footer__content {
    padding: 4.6875rem 1.5625rem 0 1.5625rem;
  }
  .footer__logo {
    padding-right: 30%;
  }
  .footer__item .title {
    margin-bottom: 2.1875rem;
  }
  .footer__item .sub-title {
    margin-bottom: 4.375rem;
  }
  .footer__item li {
    font-size: 1rem;
  }
  .footer__item li:last-child {
    margin-bottom: 5.3125rem;
  }
  .footer__policy li:last-child {
    margin-bottom: 2.1875rem;
  }
  .footer__icon {
    width: 77%;
  }
}

.timeline__content {
  padding-left: 10.9375rem;
  padding-right: 10.9375rem;
}

.timeline__title h4 {
  font-size: 1.75rem;
  letter-spacing: 0.07rem;
  color: #c06c86;
  margin-top: 1.3125rem;
}

.timeline__wrapper {
  padding-top: 7.5rem;
}

.timeline__left {
  padding-right: 8.4375rem;
}

.timeline__left ul {
  margin-top: 3.9375rem;
}

.timeline__left ul .wrapper-img {
  min-height: 3.125rem;
}

.timeline__left ul li {
  max-width: 5rem;
}

.timeline__left ul .text {
  font-family: Nunito-Bold;
  font-size: 0.6875rem;
  letter-spacing: 0.0275rem;
  color: #271c3f;
}

.timeline__right .timeline__list {
  padding-bottom: 1/pxrem;
  position: relative;
}

.timeline__right .timeline__list::before {
  content: "";
  border-left: 1px solid #fdd0d4;
  left: -0.5rem;
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
}

.timeline__right .timeline__list li {
  margin-bottom: 3rem;
  padding: 0 2rem;
  position: relative;
}

.timeline__right .timeline__list li::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -1.25rem;
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
  background: #fdd0d4;
  border: 5px solid #fdd0d4;
}

.timeline__right .timeline__list .title {
  font-family: Nunito-Bold;
  font-size: 1.5rem;
  letter-spacing: 0.045rem;
  color: #271c3f;
  margin-bottom: 1.375rem;
}

.timeline__right .timeline__list .sub-title {
  font-size: 1.125rem;
  letter-spacing: 0.045rem;
  color: #271c3f;
  margin-bottom: 5.625rem;
}

.timeline .btn-learn-more {
  margin-top: 3.3125rem;
}

@media (max-width: 1024px) {
  .timeline__content {
    padding: 4.375rem 3.125rem;
  }
}

@media (max-width: 768px) {
  .timeline__content {
    padding: 4.375rem 1.25rem;
  }
  .timeline__title h4 {
    font-size: 0.875rem;
    letter-spacing: 0.035rem;
  }
  .timeline__wrapper {
    padding-top: 1.875rem;
  }
  .timeline__left {
    padding: 0 0.625rem;
  }
  .timeline__left ul {
    flex-wrap: wrap;
  }
  .timeline__left ul li {
    max-width: unset;
    width: 33.33%;
  }
  .timeline__left ul .text {
    font-size: 0.875rem;
    letter-spacing: 0.035rem;
  }
  .timeline__right .timeline__list {
    left: 20px;
    margin-top: 4.6875rem;
  }
  .timeline__right .timeline__list .title {
    font-size: 1.125rem;
    letter-spacing: 0.03375rem;
  }
  .timeline__right .timeline__list .sub-title {
    font-size: 0.875rem;
    letter-spacing: 0.035rem;
  }
}

@media (max-width: 576px) {
  .timeline .btn-learn-more {
    width: 100%;
  }
}

.email {
  background-color: #f1737f;
}

.email__content {
  padding-left: 6.25rem;
  padding-right: 6.25rem;
}

.email__title {
  font-family: Nunito-SemiBold;
  font-style: italic;
  font-size: 0.75rem;
  color: #271c3f;
  margin-bottom: 0;
}

.email__text {
  font-family: Nunito-Bold;
  font-size: 2.25rem;
  letter-spacing: 0.09rem;
  color: #ffffff;
}

.email__input {
  width: 43.75rem;
  height: 4.375rem;
  border-radius: 35px;
  overflow: hidden;
  background-color: #ffffff;
}

.email input {
  flex-grow: 1;
  background-color: #ffffff;
  border: unset;
  padding-left: 2.5rem;
}

.email input:focus {
  outline: unset;
}

.email ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 1.125rem;
  letter-spacing: 0.045rem;
  color: #271c3f;
}

.email button {
  font-family: Raleway-Bold;
  font-size: 1.125rem;
  background-color: #f8b28e;
  color: #ffffff;
  letter-spacing: 0.045rem;
  width: 6.6875rem;
  border-radius: 35px;
}

@media (max-width: 1024px) {
  .email__content {
    padding: 5.625rem 1.875rem;
    text-align: center;
  }
  .email__text {
    padding-top: 0.9375rem;
    padding-bottom: 2.8125rem;
    font-size: 1.875rem;
  }
  .email__bottom {
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .email button {
    width: 4.375rem;
    border-radius: 50%;
  }
}

@media (max-width: 768px) {
  .email__content {
    text-align: left;
  }
  .email__bottom {
    flex-wrap: wrap;
    justify-content: space-between !important;
  }
}

.feeling {
  background-color: #271c3f;
  color: #ffffff;
}

.feeling__content {
  padding: 4.375rem 0;
}

.feeling__title {
  font-family: Nunito-Bold;
  font-size: 2.25rem;
  letter-spacing: 0.09rem;
  margin-bottom: 0;
}

.feeling .btn-chat {
  margin-left: 4.5rem;
}

@media (max-width: 768px) {
  .feeling__content {
    flex-wrap: wrap;
    padding: 5.3125rem 1.5rem;
  }
  .feeling__title {
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
    margin-bottom: 2.8125rem;
    width: 100%;
    text-align: center;
  }
  .feeling .btn-chat {
    margin-left: 0;
    font-size: 1rem;
  }
}

.getstarted {
  background-image: url("../img/Group 2329.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.getstarted__content {
  padding: 9.6875rem 9.375rem;
}

.getstarted .title-white {
  margin: 4.375rem 0;
}

@media (max-width: 576px) {
  .getstarted__content {
    padding: 4.375rem 2.0625rem;
  }
  .getstarted .title-white {
    font-size: 24px;
    letter-spacing: 0.96px;
    margin-top: 1.25rem;
    margin-bottom: 3.125rem;
  }
  .getstarted button.btn-border-white-large {
    font-size: 1rem;
  }
}

.services {
  background-image: url("../img/Group 2332.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.services__content {
  padding-left: 20.3125rem;
  padding-right: 20.3125rem;
}

.services__wrapper {
  padding-top: 3.75rem;
  padding-bottom: 5rem;
}

.services__item {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1.25rem 2.5rem 1.25rem 1.875rem;
  margin-bottom: 0.9375rem;
}

.services__item-text span {
  display: inline-block;
  width: 3.75rem;
  height: 3.75rem;
  background-color: #fef4ef;
  border-radius: 50%;
}

.services__item-text p {
  font-family: Nunito-Bold;
  font-size: 1.75rem;
  letter-spacing: 0.07rem;
  color: #271c3f;
  margin-left: 1.5625rem;
  margin-bottom: 0;
}

.services i.fa-plus {
  padding-left: 0.625rem;
  cursor: pointer;
}

.services .collapse-content {
  background-color: #ffffff;
  margin-top: -0.9375rem;
  margin-bottom: 0.9375rem;
}

.services .collapse-text {
  padding: 1.25rem;
}

@media (max-width: 1024px) {
  .services__content {
    padding: 4.375rem 3.125rem;
  }
}

@media (max-width: 768px) {
  .services__content {
    padding: 4.375rem 1.25rem;
  }
  .services__wrapper {
    padding-bottom: 3.125rem;
  }
  .services__item {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
  .services__item-text span {
    display: none;
  }
  .services__item-text p {
    font-size: 1rem;
    margin-left: 0;
    text-align: left;
  }
}

.testimonials {
  background-color: #faf8fe;
}

.testimonials__content {
  padding-left: 14.375rem;
  padding-right: 14.375rem;
}

.testimonials__slide {
  margin: 0 -1.875rem;
}

.testimonials__item {
  padding: 1.875rem;
  text-align: left;
}

.testimonials__item:focus {
  outline: unset;
}

.testimonials__item-wrapper {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
  height: 100%;
  padding: 1.875rem 2.1875rem 4.0625rem 2.1875rem;
  font-size: 1.125rem;
  color: #271c3f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonials__item-wrapper .wrapper-description {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonials__item-wrapper .description {
  margin-top: 7.1875rem;
  margin-bottom: 2.8125rem;
  letter-spacing: 0.045rem;
  line-height: 2.375rem;
}

.testimonials__item-wrapper .name {
  margin-bottom: 0;
  font-family: Raleway-Bold;
}

.testimonials .slick-list {
  display: flex;
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
}

.testimonials .slick-track {
  display: flex;
}

.testimonials .slick-prev:before, .testimonials .slick-next:before {
  color: black;
}

.testimonials .slick-dots li button {
  width: 1.0625rem;
  height: 1.0625rem;
}

.testimonials .slick-dots li.slick-active button:before {
  font-size: 1.0625rem;
  color: #271c3f;
}

.testimonials .slick-dots button:before {
  font-size: 1.0625rem;
  color: #fde7db;
  opacity: 1;
}

.testimonials .slick-dotted.slick-slider {
  margin-bottom: 5.625rem;
}

@media (max-width: 1024px) {
  .testimonials__content {
    padding: 4.375rem 3.125rem;
  }
}

@media (max-width: 768px) {
  .testimonials .title-large {
    font-size: 1.875rem !important;
  }
  .testimonials__content {
    padding: 4.375rem 1.25rem;
  }
  .testimonials__slide {
    margin: 0 -1.0625rem;
  }
  .testimonials__item {
    padding: 1.0625rem;
  }
  .testimonials__item-wrapper .description {
    font-size: 0.875rem;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
    line-height: 1.875rem;
  }
  .testimonials__item-wrapper .name {
    font-size: 0.875rem;
  }
  .testimonials button.btn-border-purple-large {
    font-size: 1rem;
  }
  .testimonials .slick-dots li button {
    width: unset;
    height: unset;
  }
  .testimonials .slick-dots li.slick-active button:before {
    font-size: 0.625rem;
    color: #271c3f;
  }
  .testimonials .slick-dots button:before {
    font-size: 0.625rem;
    color: #271c3f;
    opacity: 0.1;
  }
  .testimonials .slick-dotted.slick-slider {
    margin-bottom: 4.375rem;
  }
}

.telemedicine {
  background-image: url("../img/Group 2332.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.telemedicine__slide__wrapper {
  margin-top: 4.375rem;
  margin-bottom: 3.125rem;
  margin-left: -17px;
  margin-right: -17px;
  overflow: hidden;
}

.telemedicine button.btn-border-purple-large {
  font-size: 1rem;
}

.telemedicine__item {
  padding: 0 1.0625rem;
  text-align: left;
}

.telemedicine__item:focus {
  outline: unset;
}

.telemedicine__wrapper {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 4.6875rem 2.625rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.telemedicine__wrapper .wrapper-img {
  width: 9.375rem;
  height: 9.375rem;
  background-color: rgba(244, 240, 253, 0.54);
  border-radius: 50%;
  position: relative;
}

.telemedicine__wrapper .wrapper-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.telemedicine__wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.telemedicine__wrapper h4 {
  font-family: Nunito-Bold;
  font-size: 1.625rem;
  letter-spacing: 0.04875rem;
  color: #271c3f;
  margin-bottom: 1.875rem;
  margin-top: 2.5rem;
}

.telemedicine__wrapper p {
  font-size: 1.125rem;
  letter-spacing: 0.045rem;
  color: #271c3f;
  margin-bottom: 30px;
}

.telemedicine .slick-list {
  display: flex;
}

.telemedicine .slick-track {
  display: flex;
}

@media (max-width: 576px) {
  .telemedicine .container {
    padding: 0;
  }
  .telemedicine .telemedicine__content {
    padding: 4.375rem 1.25rem;
  }
  .telemedicine__item {
    width: 100%;
  }
  .telemedicine__wrapper h4 {
    margin-bottom: 1.875rem;
    font-size: 1.3125rem;
    letter-spacing: 0.03938rem;
  }
  .telemedicine__wrapper p {
    font-size: 1rem;
    letter-spacing: 0.01rem;
  }
  .telemedicine .slick-dots li.slick-active button:before {
    color: #271c3f;
  }
  .telemedicine .slick-dots li button:before {
    font-size: 10px;
    color: #271c3f;
    opacity: 0.1;
  }
}

.group-section {
  background-image: linear-gradient(to bottom, #fff5f0, #faf8fe 59%);
}

#telemedicine .testimonials {
  background-color: unset;
}

#telemedicine .testimonials .container-vertical {
  padding-top: 0;
}

.telemedicine__package-content {
  margin-left: 21.25rem;
  margin-right: 21.25rem;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  border-radius: 1.25rem;
  padding: 3.75rem 0;
  position: relative;
  top: -31.875rem;
  margin-bottom: -410px;
}

.telemedicine__package-title {
  padding: 0 5.9375rem;
  margin-bottom: 2.5rem;
}

.telemedicine__package-title .headline {
  font-family: Nunito-Bold;
  font-size: 2.625rem;
  letter-spacing: 0.095rem;
  color: #271c3f;
  margin-bottom: 1.25rem;
}

.telemedicine__package-title .title {
  font-size: 1.8125rem;
  letter-spacing: 0.0725rem;
  color: #c06c86;
}

.telemedicine__package-title .unit {
  font-family: Raleway-Bold;
  font-size: 2.8125rem;
  color: #271c3f;
}

.telemedicine__package-title .only {
  transform: translateY(140%);
  color: #271c3f;
}

.telemedicine__package-title .per {
  color: #271c3f;
}

.telemedicine__package-title .price {
  font-family: Raleway-Bold;
  font-size: 5.75rem;
  letter-spacing: 0.2125rem;
  color: #271c3f;
}

.telemedicine__package-title .sub-title {
  font-family: Nunito-SemiBold;
  font-size: 2rem;
  letter-spacing: 0.08rem;
  color: #271c3f;
  margin-top: 1.25rem;
}

.telemedicine__package-text-wrapper {
  margin-bottom: 2.1875rem;
  padding: 0 5.9375rem;
}

.telemedicine__package-text-wrapper:nth-child(odd) {
  background-color: #fff6f2;
}

.telemedicine__package-text-wrapper:nth-child(even) {
  background-color: #ffffff;
}

.telemedicine__package-text-item {
  padding-right: 2.1875rem;
  padding-top: 1.25rem;
  padding-bottom: 1.875rem;
}

.telemedicine__package-text-item .check-wrapper {
  width: 2.3125rem;
  height: 2.3125rem;
  line-height: 2.3125rem;
  background-color: #ffffff;
  border-radius: 50%;
}

.telemedicine__package-text-item .text-left {
  flex: 1;
  padding-left: 1.5625rem;
}

.telemedicine__package-text-item .text-left p {
  display: inline-block;
}

.telemedicine__package-text-item .text-left .title {
  font-family: Nunito-Bold;
  font-size: 1.375rem;
  letter-spacing: 0.055rem;
  color: #271c3f;
  margin-bottom: 0.625rem;
}

.telemedicine__package-text-item .text-left .description {
  font-size: 1rem;
  letter-spacing: 0.04rem;
  color: #271c3f;
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .telemedicine__package-content {
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    top: -9.375rem;
    margin-bottom: 0;
    overflow: hidden;
  }
  .telemedicine__package-title {
    padding: 0 0.625rem;
  }
  .telemedicine__package-title .headline {
    font-size: 1.75rem;
    letter-spacing: 0.07rem;
    margin-bottom: 0;
  }
  .telemedicine__package-title .title {
    font-size: 1.3125rem;
    letter-spacing: 0.0525rem;
  }
  .telemedicine__package-title .sub-title {
    font-size: 1.3125rem;
    letter-spacing: 0.0525rem;
    padding: 0 1.875rem;
  }
  .telemedicine__package-text-wrapper {
    padding: 0 1.25rem;
    margin-bottom: 0;
  }
  .telemedicine__package-text-item {
    padding-right: 0;
  }
  .telemedicine__package-text-item .text-left {
    padding-left: 0.625rem;
  }
  .telemedicine__package-text-item .text-left .title {
    font-size: 1.125rem;
    letter-spacing: 0.045rem;
  }
  .telemedicine__package-text-item .text-left .description {
    font-size: 0.875rem;
    letter-spacing: 0.035rem;
  }
}

@media (max-width: 768px) {
  .telemedicine__package-content {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    top: -9.375rem;
    margin-bottom: 0;
    overflow: hidden;
  }
}

@media (max-width: 576px) {
  .telemedicine__package-content {
    top: -5.625rem;
  }
  .telemedicine__package-text {
    padding: 0 0.625rem;
  }
  .telemedicine__package-text-wrapper {
    padding: 0;
    margin-bottom: 0;
  }
  .telemedicine__package-text-item-wrapper:nth-child(odd) {
    background-color: #fff6f2;
  }
  .telemedicine__package-text-item-wrapper:nth-child(even) {
    background-color: #ffffff;
  }
  .telemedicine__package-text-item {
    padding-right: 0;
  }
  .telemedicine__package-text-item .text-left {
    padding-left: 0.625rem;
  }
  .telemedicine__package-text-item .text-left .title {
    font-size: 1.125rem;
    letter-spacing: 0.045rem;
  }
  .telemedicine__package-text-item .text-left .description {
    font-size: 0.875rem;
    letter-spacing: 0.035rem;
  }
}

.telemedicine-timeline__top {
  height: 5.625rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #271c3f;
}

.telemedicine-timeline__bottom {
  height: 5.625rem;
  background-color: #271c3f;
}

.telemedicine-timeline__profile-content {
  padding: 0 30rem;
  position: relative;
  top: -7.5rem;
  left: 0;
  margin-bottom: -3.75rem;
}

.telemedicine-timeline__profile .profile-img {
  margin-bottom: 5.625rem;
}

.telemedicine-timeline__profile .profile-img img {
  border-radius: 30px;
  width: 100%;
}

.telemedicine-timeline__profile .profile-text img {
  margin-bottom: 1.5625rem;
  min-height: 3.125rem;
}

.telemedicine-timeline__profile .profile-text p {
  font-family: Raleway-ExtraBold;
  font-size: 0.875rem;
  letter-spacing: 0.105rem;
  text-transform: uppercase;
}

.telemedicine-timeline__detail {
  padding-bottom: 26.25rem;
}

.telemedicine-timeline__detail-content {
  padding-left: 9.375rem;
  padding-right: 9.375rem;
}

.telemedicine-timeline__detail .telemedicine-timeline__left {
  padding-right: 6.25rem;
  padding-bottom: 7.5rem;
  height: 100%;
}

.telemedicine-timeline__detail .telemedicine-timeline__right {
  padding-bottom: 7.5rem;
  height: 100%;
}

.telemedicine-timeline__detail .telemedicine-timeline__right li {
  margin: 0 0 3em 0;
  padding: 0 2em 0em 2em;
  position: relative;
  padding-left: 9.375rem;
}

.telemedicine-timeline__detail .telemedicine-timeline__right li::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -15px;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FDD0D4;
  border: 5px solid #FDD0D4;
}

.telemedicine-timeline__detail .telemedicine-timeline__right .img-right {
  text-align: right;
}

.telemedicine-timeline__detail .detail-wrapper {
  position: relative;
}

.telemedicine-timeline__detail .detail-wrapper::before {
  content: "";
  border-right: 3px solid #FDD0D4;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
}

.telemedicine-timeline__detail img {
  width: 100%;
}

.telemedicine-timeline__detail .title-large {
  font-size: 2.125rem;
  letter-spacing: 0.085rem;
  margin: 1.5625rem 0;
}

.telemedicine-timeline__detail .description {
  font-size: 1.3125rem;
  letter-spacing: 0.0525rem;
  color: #271c3f;
  line-height: 2.375rem;
  max-width: 90%;
}

@media (max-width: 1024px) {
  .telemedicine-timeline__profile-content {
    padding: 0 3.125rem;
  }
  .telemedicine-timeline__profile .profile-img {
    margin-bottom: 1.875rem;
  }
  .telemedicine-timeline__profile .profile-text .group-profile {
    margin-right: 0.625rem;
  }
  .telemedicine-timeline__profile .profile-text img {
    width: 1.875rem;
    height: 1.875rem;
    min-height: unset;
  }
  .telemedicine-timeline__profile .profile-text p {
    font-size: 0.5rem;
    letter-spacing: 0.02rem;
  }
  .telemedicine-timeline__detail {
    padding-bottom: 75px;
  }
  .telemedicine-timeline__detail .order {
    order: 1;
  }
  .telemedicine-timeline__detail .order img {
    margin-left: -12%;
  }
  .telemedicine-timeline__detail .title-large {
    font-size: 1.125rem !important;
    letter-spacing: 0.045rem;
  }
  .telemedicine-timeline__detail img {
    width: 112%;
  }
  .telemedicine-timeline__detail .description {
    font-size: 0.875rem !important;
    letter-spacing: 0.035rem;
    line-height: 1.5rem;
    max-width: unset;
  }
  .telemedicine-timeline__detail-content {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }
  .telemedicine-timeline__detail .telemedicine-timeline__left {
    padding-left: 30px;
    padding-right: 0;
    padding-bottom: 50px;
  }
  .telemedicine-timeline__detail .telemedicine-timeline__right {
    padding-left: 0;
    padding-bottom: 0rem;
  }
  .telemedicine-timeline__detail .telemedicine-timeline__right li {
    padding-left: 30px;
    padding-right: 0;
  }
  .telemedicine-timeline__detail .telemedicine-timeline__right li::before {
    display: none;
  }
  .telemedicine-timeline__detail .detail-wrapper::before {
    left: 25px;
  }
  .telemedicine-timeline__detail .detail-wrapper::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 25px;
    transform: translateX(-50%);
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    background: #FDD0D4;
    border: 5px solid #FDD0D4;
  }
}

@media (max-width: 768px) {
  .telemedicine-timeline__profile-content {
    padding: 0 1.25rem;
  }
  .telemedicine-timeline__detail-content {
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }
}

@media (max-width: 567px) {
  .telemedicine-timeline__bottom {
    height: 12.5rem;
  }
  .telemedicine-timeline__detail {
    padding-bottom: 75px;
  }
  .telemedicine-timeline__detail .order {
    order: 1;
  }
  .telemedicine-timeline__detail .order img {
    margin-left: -12%;
  }
  .telemedicine-timeline__detail .title-large {
    font-size: 1.125rem !important;
    letter-spacing: 0.045rem;
  }
  .telemedicine-timeline__detail img {
    width: 112%;
  }
  .telemedicine-timeline__detail .description {
    font-size: 0.875rem !important;
    letter-spacing: 0.035rem;
    line-height: 1.5rem;
    max-width: unset;
  }
  .telemedicine-timeline__detail-content {
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }
  .telemedicine-timeline__detail .telemedicine-timeline__left {
    padding-left: 30px;
    padding-right: 0;
    padding-bottom: 50px;
  }
  .telemedicine-timeline__detail .telemedicine-timeline__right {
    padding-left: 0;
    padding-bottom: 0rem;
  }
  .telemedicine-timeline__detail .telemedicine-timeline__right li {
    padding-left: 30px;
    padding-right: 0;
  }
  .telemedicine-timeline__detail .telemedicine-timeline__right li::before {
    display: none;
  }
  .telemedicine-timeline__detail .detail-wrapper::before {
    left: 25px;
  }
  .telemedicine-timeline__detail .detail-wrapper::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 25px;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FDD0D4;
    border: 5px solid #FDD0D4;
  }
}

.collaborative {
  background-image: linear-gradient(to right, rgba(255, 245, 240, 0.85) 0%, rgba(255, 245, 240, 0.85) 50%, transparent 20%, transparent 100%), url("../img/shutterstock.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.collaborative .title-large {
  font-size: 2.5rem;
}

.collaborative__content {
  padding-top: 15.625rem;
  padding-left: 14.6875rem;
  padding-right: 14.6875rem;
}

.collaborative__text {
  width: 45%;
  padding-bottom: 11.5625rem;
}

.collaborative__text .description {
  font-size: 1.3125rem;
  font-family: Raleway-Regular;
  padding: 2.1875rem 0;
  letter-spacing: 0.84px;
}

.collaborative__text .btn-border-purple-small {
  display: inline-block;
  text-align: center;
}

.collaborative__slide {
  margin-left: -0.8125rem;
  margin-right: -0.8125rem;
}

.collaborative__item {
  padding: 1.25rem 1.0625rem;
  text-align: left;
}

.collaborative__item:focus {
  outline: unset;
}

.collaborative__wrapper {
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  padding: 5rem 1.875rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.collaborative__wrapper .title {
  font-family: Nunito-Bold;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  margin-bottom: 0;
  color: #271c3f;
}

.collaborative__wrapper .description {
  font-family: Raleway-Regular;
  font-size: 1.125rem;
  letter-spacing: 0.01125rem;
  padding: 3.125rem 0;
  margin-bottom: 0;
  color: #271c3f;
}

.collaborative__wrapper .learn-more {
  font-family: Raleway-Bold;
  font-size: 1.3125rem;
  letter-spacing: 0.84px;
  margin-bottom: 0;
}

.collaborative__wrapper .arrow {
  display: inline-block;
  margin-left: 1.25rem;
}

.collaborative .slick-list {
  display: flex;
}

.collaborative .slick-track {
  display: flex;
}

.collaborative__bottom {
  background-color: #271c3f;
  color: #ffffff;
}

.collaborative__bottom__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collaborative__bottom .question {
  font-family: Raleway-Bold;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  color: #f1737f;
}

.collaborative__bottom .list {
  font-family: Nunito-Bold;
  font-size: 1rem;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  margin-bottom: 0;
  display: flex;
}

.collaborative__bottom .list li {
  padding-right: 0.375rem;
}

.collaborative__bottom .list li::before {
  content: "•";
  padding-right: 0.375rem;
}

.collaborative__bottom .list li:first-child::before {
  content: "";
}

.collaborative__bottom__content {
  padding: 1.25rem 0;
}

@media (max-width: 1024px) {
  .collaborative {
    position: relative;
    padding-bottom: 1px;
    background-image: linear-gradient(to bottom, rgba(255, 245, 240, 0.85) 0%, rgba(255, 245, 240, 0.85) 38%, transparent 20%, transparent 100%), url(../img/shutterstock.jpg);
    background-size: 300%;
    background-position: 85% -265%;
  }
  .collaborative::after {
    content: '';
    height: 45%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to top, #f7eeeb 0%, #f7eeeb 40%, transparent);
  }
  .collaborative__content {
    padding: 2.5rem 1.25rem 0;
  }
  .collaborative__text {
    width: 100%;
    padding-bottom: 0;
  }
  .collaborative__text .description {
    font-size: 1rem;
  }
  .collaborative__text .btn-border-purple {
    width: unset;
  }
  .collaborative__info {
    margin-top: 120%;
    position: relative;
    z-index: 10;
    padding: 0;
  }
  .collaborative__wrapper {
    padding: 3.75rem 1.875rem;
  }
  .collaborative__wrapper .description {
    font-size: 1rem;
    padding: 1.875rem 0;
  }
  .collaborative__wrapper .learn-more {
    font-size: 1.125rem;
  }
  .collaborative .slick-dots li.slick-active button:before {
    color: #271c3f;
  }
  .collaborative .slick-dots li button:before {
    font-size: 10px;
    color: #271c3f;
    opacity: 0.1;
  }
  .collaborative .slick-dotted.slick-slider {
    margin-bottom: 100px;
  }
  .collaborative__bottom__content {
    flex-wrap: wrap;
    padding: 3.75rem 1.25rem;
    justify-content: center;
  }
  .collaborative__bottom .question-wrapper {
    text-align: center;
    width: 100%;
  }
  .collaborative__bottom .question {
    font-size: 1.3125rem;
    letter-spacing: 0.0525rem;
  }
  .collaborative__bottom .list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
  }
  .collaborative__bottom .list li {
    width: 50%;
    font-size: 0.75rem;
    letter-spacing: 0.03rem;
    display: inline-block;
    margin-bottom: 1.25rem;
  }
  .collaborative__bottom .list li:first-child::before {
    content: "•";
  }
}

@media (max-width: 768px) {
  .collaborative {
    background-position: 85% 200%;
  }
  .collaborative__info {
    padding: 0 6.25rem;
  }
}

@media (max-width: 576px) {
  .collaborative {
    position: relative;
    padding-bottom: 1px;
    background-image: linear-gradient(to bottom, rgba(255, 245, 240, 0.85) 0%, rgba(255, 245, 240, 0.85) 38%, transparent 20%, transparent 100%), url(../img/shutterstock.jpg);
    background-size: 300%;
    background-position: 85% 64%;
  }
  .collaborative__info {
    margin-top: 115%;
    padding: 0;
  }
}

.collaborative__telemedicine {
  background-image: url("../img/Path 701.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.collaborative__telemedicine-content {
  padding-left: 20rem;
  padding-right: 20rem;
}

.collaborative__telemedicine-top {
  background-color: #271c3f;
  height: 5.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collaborative__telemedicine-top h4 {
  color: #f1737f;
  font-size: 1.75rem;
  letter-spacing: 0.0525rem;
}

.collaborative__telemedicine-bottom {
  background-color: #271c3f;
  height: 5.8125rem;
}

.collaborative__telemedicine-benefit .row {
  margin-left: -35px;
  margin-right: -35px;
}

.collaborative__telemedicine-benefit-item {
  text-align: center;
  margin-bottom: 6.25rem;
  padding: 0 1.25rem;
}

.collaborative__telemedicine-benefit-item img {
  min-height: 4.375rem;
}

.collaborative__telemedicine-benefit-item .title {
  font-family: Raleway-ExtraBold;
  font-size: 1.3125rem;
  letter-spacing: 0.0525rem;
  margin: 1.875rem 0;
}

.collaborative__telemedicine-benefit-item .description {
  font-size: 1rem;
  letter-spacing: 0.04rem;
  margin-bottom: 0;
}

.collaborative__telemedicine-timeline .headline-wrapper {
  text-align: center;
  position: relative;
}

.collaborative__telemedicine-timeline .headline-wrapper::before {
  content: '';
  display: block;
  width: 100%;
  border-top: 2px solid #f4f0fd;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
}

.collaborative__telemedicine-timeline .headline {
  font-size: 1.8125rem;
  letter-spacing: 0.0725rem;
  color: #c06c86;
  background-color: #271c3f;
  display: inline-block;
  padding: 1.25rem 4.0625rem;
  margin-bottom: 0;
}

.collaborative__telemedicine-timeline-item {
  margin-top: 6.25rem;
  margin-bottom: 12.5rem;
}

.collaborative__telemedicine-timeline-item .timeline-text {
  padding-left: 5.9375rem;
}

.collaborative__telemedicine-timeline-item .timeline-text.second {
  padding-left: 0;
  padding-right: 8.125rem;
}

.collaborative__telemedicine-timeline-item .title {
  font-family: Nunito-SemiBoldItalic;
  font-size: 0.875rem;
  letter-spacing: 0.105rem;
  color: #f1737f;
}

.collaborative__telemedicine-timeline-item .sub-title {
  font-family: Nunito-Bold;
  font-size: 1.625rem;
  letter-spacing: 0.065rem;
  color: #271c3f;
  margin-top: 1.25rem;
  margin-bottom: 2.1875rem;
  border-bottom: 2px solid #f4f0fd;
  padding-bottom: 1.875rem;
}

.collaborative__telemedicine-timeline-item .description {
  font-size: 1.125rem;
  letter-spacing: 0.045rem;
  color: #271c3f;
}

@media (max-width: 1024px) {
  .collaborative__telemedicine-content {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    padding-top: 5rem;
  }
  .collaborative__telemedicine-top {
    padding: 0 5rem;
    text-align: center;
  }
  .collaborative__telemedicine-top h4 {
    font-size: 1.125rem;
    letter-spacing: 0.03375rem;
  }
  .collaborative__telemedicine-benefit .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .collaborative__telemedicine-benefit-item {
    margin-bottom: 4.6875rem;
  }
  .collaborative__telemedicine-benefit-item .title {
    font-size: 1.125rem;
    letter-spacing: 0.045rem;
    margin-top: 1.5625rem;
    margin-bottom: 0.9375rem;
  }
  .collaborative__telemedicine-benefit-item .description {
    font-size: 0.875rem;
    letter-spacing: 0.035rem;
  }
  .collaborative__telemedicine-timeline img {
    width: 100%;
  }
  .collaborative__telemedicine-timeline .headline-wrapper {
    padding: 0 4.6875rem;
  }
  .collaborative__telemedicine-timeline .headline {
    font-size: 1.125rem;
    letter-spacing: 0.045rem;
    padding: 1.125rem 1.4375rem;
  }
  .collaborative__telemedicine-timeline-item {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    padding: 0 1.25rem;
  }
  .collaborative__telemedicine-timeline-item .timeline-text {
    padding-left: 0;
  }
  .collaborative__telemedicine-timeline-item .timeline-text.second {
    padding-right: 0;
  }
  .collaborative__telemedicine-timeline-item .title {
    font-size: 0.625rem;
    letter-spacing: 0.075rem;
  }
  .collaborative__telemedicine-timeline-item .sub-title {
    font-size: 1.125rem;
    letter-spacing: 0.045rem;
    line-height: 1.875rem;
  }
  .collaborative__telemedicine-timeline-item .description {
    font-size: 0.875rem;
    letter-spacing: 0.035rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 768px) {
  .collaborative__telemedicine-content {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-top: 5rem;
  }
}

@media (max-width: 576px) {
  .collaborative__telemedicine-bottom {
    height: 12.5rem;
  }
  .collaborative__telemedicine-timeline .order {
    order: 1;
  }
}

.collaborative__hero-section {
  background-image: url("../img/Group 2339.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.collaborative__hero-section .container-vertical {
  padding-bottom: 2.5rem;
}

.collaborative__hero-section-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collaborative__hero-section-text {
  text-align: center;
  max-width: 795px;
}

.collaborative__hero-section-text .title-white {
  margin-top: 3.4375rem;
  margin-bottom: 2.1875rem;
}

.collaborative__hero-section-text .description {
  font-size: 1.3125rem;
  letter-spacing: 0.0525rem;
  color: #ffffff;
  line-height: 2.75rem;
}

#telemedicine .collaborative__hero-section {
  background-image: url("../img/Group 2343.jpg");
}

#telemedicine .collaborative__hero-section .container-vertical {
  padding-bottom: 7.5rem;
}

#telemedicine .collaborative__hero-section-text {
  max-width: 65.625rem;
}

#telemedicine .collaborative__hero-section-text .title-white {
  font-size: 2.5rem;
  margin-top: 1.25rem;
  margin-bottom: 4.6875rem;
}

@media (max-width: 1024px) {
  .collaborative__hero-section .container-vertical {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 5rem;
    padding-bottom: 6.25rem;
  }
  .collaborative__hero-section .title-white {
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
  }
  .collaborative__hero-section .description {
    font-size: 1rem;
    letter-spacing: 0.04rem;
    line-height: 1.625rem;
  }
}

@media (max-width: 576px) {
  .collaborative__hero-section {
    background-image: url("../img/Group 2375.jpg");
  }
  #telemedicine .collaborative__hero-section {
    background-image: url("../img/Group 2376.jpg");
  }
}

.group-section {
  background-image: linear-gradient(to bottom, #fff5f0, #faf8fe 59%);
}

#collaborative .testimonials {
  background-color: unset;
}

#collaborative .testimonials .container-vertical {
  padding-top: 0;
}

.collaborative__package-content {
  margin-left: 21.25rem;
  margin-right: 21.25rem;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  border-radius: 1.25rem;
  padding: 3.75rem 0;
  position: relative;
  top: -16.875rem;
  margin-bottom: -165px;
}

.collaborative__package-title {
  padding: 0 5.9375rem;
  margin-bottom: 2.5rem;
}

.collaborative__package-title .headline {
  font-family: Nunito-Bold;
  font-size: 2.375rem;
  letter-spacing: 0.095rem;
  color: #271c3f;
  margin-bottom: 1.25rem;
}

.collaborative__package-title .title {
  font-size: 1.8125rem;
  letter-spacing: 0.0725rem;
  color: #c06c86;
}

.collaborative__package-title .unit {
  font-family: Raleway-Bold;
  font-size: 2.8125rem;
  color: #271c3f;
}

.collaborative__package-title .only {
  transform: translateY(140%);
  color: #271c3f;
}

.collaborative__package-title .month {
  color: #271c3f;
}

.collaborative__package-title .price {
  font-family: Raleway-Bold;
  font-size: 5.3125rem;
  letter-spacing: 0.2125rem;
  color: #271c3f;
}

.collaborative__package-text-wrapper {
  margin-bottom: 2.1875rem;
  padding: 0 5.9375rem;
}

.collaborative__package-text-wrapper:nth-child(odd) {
  background-color: #fff6f2;
}

.collaborative__package-text-wrapper:nth-child(even) {
  background-color: #ffffff;
}

.collaborative__package-text-item {
  padding-right: 2.1875rem;
  padding-top: 1.25rem;
  padding-bottom: 1.875rem;
}

.collaborative__package-text-item .check-wrapper {
  width: 2.3125rem;
  height: 2.3125rem;
  line-height: 2.3125rem;
  background-color: #ffffff;
  border-radius: 50%;
}

.collaborative__package-text-item .text-left {
  flex: 1;
  padding-left: 1.5625rem;
}

.collaborative__package-text-item .text-left p {
  display: inline-block;
}

.collaborative__package-text-item .text-left .title {
  font-family: Nunito-Bold;
  font-size: 1.375rem;
  letter-spacing: 0.055rem;
  color: #271c3f;
  margin-bottom: 0.625rem;
}

.collaborative__package-text-item .text-left .description {
  font-size: 1rem;
  letter-spacing: 0.04rem;
  color: #271c3f;
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .collaborative__package-content {
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    top: -12.5rem;
    margin-bottom: 0;
    overflow: hidden;
  }
  .collaborative__package-title {
    padding: 0 0.625rem;
  }
  .collaborative__package-title .headline {
    font-size: 1.75rem;
    letter-spacing: 0.07rem;
  }
  .collaborative__package-title .title {
    font-size: 1.3125rem;
    letter-spacing: 0.0525rem;
  }
  .collaborative__package-text-wrapper {
    padding: 0 1.25rem;
    margin-bottom: 0;
  }
  .collaborative__package-text-item {
    padding-right: 0;
  }
  .collaborative__package-text-item .text-left {
    padding-left: 0.625rem;
  }
  .collaborative__package-text-item .text-left .title {
    font-size: 1.125rem;
    letter-spacing: 0.045rem;
  }
  .collaborative__package-text-item .text-left .description {
    font-size: 0.875rem;
    letter-spacing: 0.035rem;
  }
  .collaborative__package .btn-color-orange {
    margin-top: 1.25rem;
  }
}

@media (max-width: 768px) {
  .collaborative__package-content {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    top: -12.5rem;
    margin-bottom: 0;
    overflow: hidden;
  }
}

@media (max-width: 576px) {
  .collaborative__package-content {
    top: -5.625rem;
  }
  .collaborative__package-text {
    padding: 0 0.625rem;
  }
  .collaborative__package-text-wrapper {
    padding: 0;
    margin-bottom: 0;
  }
  .collaborative__package-text-item-wrapper:nth-child(odd) {
    background-color: #fff6f2;
  }
  .collaborative__package-text-item-wrapper:nth-child(even) {
    background-color: #ffffff;
  }
  .collaborative__package .btn-color-orange {
    margin-top: 0;
  }
}

.industry__content {
  padding-left: 7.8125rem;
  padding-right: 7.8125rem;
}

.industry__slide {
  margin: 0 -40px;
}

.industry__item {
  padding: 2.5rem;
  text-align: left;
}

.industry__item:focus {
  outline: unset;
}

.industry__wrapper {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.industry__wrapper .wrapper-description {
  padding-left: 1.875rem;
  padding-right: 3.75rem;
  padding-top: 2.1875rem;
  padding-bottom: 2.8125rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.industry__wrapper .date {
  font-family: Raleway-Regular;
  font-size: 0.875rem;
  letter-spacing: 0.035rem;
  color: #271c3f;
  text-align: right;
  padding-top: 1.5625rem;
  padding-right: 1.5625rem;
  margin-bottom: 0;
}

.industry__wrapper .title {
  font-family: Raleway-Bold;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  color: #271c3f;
  margin-bottom: 0;
}

.industry__wrapper .description {
  font-size: 1.125rem;
  letter-spacing: 0.045rem;
  color: #271c3f;
  margin-top: 2.1875rem;
  margin-bottom: 2.5rem;
}

.industry__wrapper .btn-read-more {
  font-family: Raleway-Bold;
  font-size: 1.125rem;
  letter-spacing: 0.045rem;
  color: #271c3f;
}

.industry .slick-list {
  display: flex;
  padding-bottom: 1.25rem;
}

.industry .slick-track {
  display: flex;
}

@media (max-width: 1024px) {
  .industry__content {
    padding: 4.375rem 3.125rem;
  }
}

@media (max-width: 768px) {
  .industry .title-large {
    font-size: 1.875rem !important;
  }
  .industry__content {
    padding: 4.375rem 1.25rem;
  }
  .industry__slide {
    margin: 0 -17px;
  }
  .industry__item {
    padding: 1.0625rem;
  }
  .industry__wrapper {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    height: 100%;
  }
  .industry__wrapper .wrapper-description {
    padding-left: 1.25rem;
    padding-right: 1.875rem;
    padding-top: 0.9375rem;
    padding-bottom: 3.125rem;
  }
  .industry__wrapper .description {
    font-size: 0.875rem;
  }
  .industry__wrapper .btn-read-more {
    font-size: 0.875rem;
    letter-spacing: 0.045rem;
    color: #271c3f;
  }
  .industry .slick-list {
    padding-bottom: 0;
  }
  .industry .slick-dots li.slick-active button:before {
    color: #271c3f;
  }
  .industry .slick-dots li button:before {
    font-size: 10px;
    color: #271c3f;
    opacity: 0.1;
  }
  .industry .btn-read-more {
    margin-top: 50px;
    font-size: 1rem;
  }
}

.mission__content {
  padding-right: 9.0625rem;
}

.mission__item {
  padding: 1.0625rem;
  text-align: left;
}

.mission__item:focus {
  outline: unset;
}

.mission__wrapper {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  padding: 0.9375rem;
  height: 100%;
  width: 364px;
}

.mission__wrapper .wrapper-img {
  position: relative;
  padding-top: 100%;
}

.mission__wrapper .avatar {
  border-radius: 15px;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.mission__wrapper .bookmark {
  position: absolute;
  top: -0.9375rem;
  right: 1.25rem;
}

.mission__wrapper .name {
  margin-top: 1.6875rem;
}

.mission__wrapper .name p {
  font-family: Nunito-Bold;
  font-size: 1.125rem;
  letter-spacing: 0.045rem;
  color: #271c3f;
}

.mission__wrapper .sub-title {
  font-family: Nunito-SemiBold;
  font-size: 0.625rem;
  font-style: italic;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  color: #f1737f;
}

.mission__wrapper .description {
  font-size: 0.75rem;
  letter-spacing: 0.03rem;
  color: #271c3f;
}

.mission__wrapper .btn-read-more {
  font-size: 0.75rem;
  letter-spacing: 0.03rem;
  color: #271c3f;
  display: inline-block;
  margin-bottom: 2.5rem;
  font-family: Raleway-Bold;
}

.mission__right .title-large {
  margin-bottom: 2.1875rem;
}

.mission__right .description {
  font-size: 1.3125rem;
  letter-spacing: 0.0525rem;
  color: #271c3f;
  margin-bottom: 5rem;
}

.mission__right .arrow {
  margin-left: 1.25rem;
}

.mission .slick-list {
  display: flex;
}

.mission .slick-track {
  display: flex;
}

@media (max-width: 1024px) {
  .mission__content {
    padding: 4.375rem 3.125rem;
  }
  .mission__wrapper {
    width: auto;
  }
  .mission .order {
    order: 1;
  }
  .mission__right .description {
    font-size: 1rem;
    letter-spacing: 0.04rem;
    margin-bottom: 1.25rem;
  }
  .mission__right .text-orange {
    margin-bottom: 3.75rem;
  }
  .mission .slick-dots li.slick-active button:before {
    color: #271c3f;
  }
  .mission .slick-dots li button:before {
    font-size: 10px;
    color: #271c3f;
    opacity: 0.1;
  }
}

@media (max-width: 768px) {
  .mission__content {
    padding: 4.375rem 1.25rem;
  }
}

.signin {
  background: url("../img/Path 1041.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.signin__content {
  margin: 5.3125rem 43.125rem;
  padding: 5.625rem 3.75rem;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.signin__title .title {
  font-family: Nunito-Bold;
  font-size: 1.3125rem;
  letter-spacing: 0.0525rem;
  color: #271c3f;
  margin-bottom: 2.5rem;
}

.signin__form__item {
  position: relative;
  margin-bottom: 1.875rem;
}

.signin__form__item ul.parsley-errors-list {
  position: absolute;
  bottom: -5px;
  transform: translateY(100%);
  padding-left: 20px;
}

.signin__form__item ul.parsley-errors-list li {
  font-family: Montserrat-Medium;
  font-size: 0.75rem;
  color: #f1737f;
}

.signin__form__item:focus-within input:focus {
  border: 2px solid #f1737f;
}

.signin__form__item:focus-within input:focus ~ label {
  top: 0;
  background-color: #ffffff;
  color: #f1737f;
  opacity: 1;
}

.signin__form__item label {
  position: absolute;
  left: 65px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
  font-family: Montserrat-Medium;
  font-size: 0.75rem;
  letter-spacing: 0.03rem;
  color: #271c3f;
  opacity: 0.47;
  pointer-events: none;
}

.signin__form__item img {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.signin__form__item label.active {
  top: 0;
  background-color: #ffffff;
  opacity: 1;
}

.signin__form__item .form-control:focus {
  box-shadow: unset;
}

.signin__form__item input {
  padding-left: 55px;
  padding-right: 35px;
  height: 3.4375rem;
  border-radius: 25px;
}

.signin__form__item input.parsley-error {
  margin-bottom: 2.1875rem;
}

.signin__form__item i {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  color: #ced4da;
}

.signin__form .text-forgot {
  font-family: Montserrat-Medium;
  font-size: 0.75rem;
  letter-spacing: 0.03rem;
  text-align: right;
}

.signin__form .btn-login {
  width: 12.5rem;
  height: 3.125rem;
  background-color: #f8b28e;
  border-radius: 30px;
  color: #ffffff;
  font-family: Montserrat-Bold;
  font-size: 0.75rem;
  letter-spacing: 0.03rem;
  margin-top: 1.25rem;
  margin-bottom: 2.1875rem;
}

.signin .group-text p {
  font-family: Montserrat-Medium;
  font-size: 0.75rem;
  letter-spacing: 0.03rem;
  color: #3e5665;
}

.signin .group-text p a {
  color: #f8b28e;
}

@media (max-width: 1919px) {
  .signin__content {
    margin: 5.3125rem 32.5rem;
  }
}

@media (max-width: 1200px) {
  .signin__content {
    margin: 5.3125rem 28.125rem;
  }
}

@media (max-width: 1024px) {
  .signin__content {
    margin: 0;
    padding: 4.375rem 9.375rem;
    box-shadow: unset;
  }
}

@media (max-width: 576px) {
  .signin__content {
    padding: 4.375rem 1.875rem;
  }
}

.signup {
  background: url("../img/Path 1041.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.signup__content {
  margin: 4.0625rem 27.5rem;
  padding: 3.125rem 6.875rem;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.signup__title .title {
  font-family: Nunito-SemiBold;
  font-size: 1.75rem;
  letter-spacing: 0.07rem;
  color: #271c3f;
}

.signup__title .description {
  font-family: Montserrat-Medium;
  font-size: 0.875rem;
  letter-spacing: 0.035rem;
  color: #271c3f;
  margin-bottom: 4.375rem;
}

.signup__form__item {
  position: relative;
  margin-left: 12.5rem;
  margin-right: 12.5rem;
}

.signup__form__item ul.parsley-errors-list {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  padding-left: 20px;
}

.signup__form__item ul.parsley-errors-list li {
  font-family: Montserrat-Medium;
  font-size: 0.75rem;
  color: #f1737f;
}

.signup__form__item:focus-within input:focus {
  border: 2px solid #f1737f;
}

.signup__form__item:focus-within input:focus ~ label {
  top: 0;
  background-color: #ffffff;
  color: #f1737f;
  opacity: 1;
}

.signup__form__item label {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
  font-family: Montserrat-Medium;
  font-size: 0.75rem;
  letter-spacing: 0.03rem;
  color: #271c3f;
  opacity: 0.47;
  pointer-events: none;
}

.signup__form__item label.active {
  top: 0;
  background-color: #ffffff;
  opacity: 1;
}

.signup__form__item .form-control:focus {
  box-shadow: unset;
}

.signup__form__item input {
  color: #271c3f;
  padding-left: 35px;
  padding-right: 35px;
  height: 3.4375rem;
  border-radius: 25px;
}

.signup__form__item input.parsley-error {
  margin-bottom: 2.1875rem;
}

.signup__form__item i {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  color: #ced4da;
}

.signup__form .btn-next {
  width: 12.5rem;
  height: 3.125rem;
  background-color: #f8b28e;
  border-radius: 30px;
  color: #ffffff;
  font-family: Montserrat-Bold;
  font-size: 0.75rem;
  letter-spacing: 0.03rem;
  margin-top: 1.25rem;
  margin-bottom: 2.1875rem;
}

.signup input::-webkit-datetime-edit {
  color: transparent !important;
}

.signup input:focus::-webkit-datetime-edit {
  color: #271c3f !important;
}

.signup input[type="date"].parsley-success::-webkit-datetime-edit,
.signup input[type="date"].parsley-error.no-transparent::-webkit-datetime-edit {
  color: #271c3f !important;
}

.signup .group-text p {
  font-family: Montserrat-Medium;
  font-size: 0.75rem;
  letter-spacing: 0.03rem;
  color: #3e5665;
}

.signup .group-text p a {
  color: #f8b28e;
}

@media (max-width: 1919px) {
  .signup__form__item {
    margin-left: 0;
    margin-right: 0;
  }
  .signup__form__item {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 1024px) {
  .signup__content {
    margin: 0;
    padding: 4.375rem 9.375rem;
    box-shadow: unset;
  }
  .signup__title .title {
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
  }
  .signup__form__item {
    margin-left: 0;
    margin-right: 0;
  }
  .signup__form__item label {
    left: 30px;
  }
  .signup__form__item i {
    right: 30px;
  }
}

@media (max-width: 576px) {
  .signup__content {
    padding: 4.375rem 1.875rem;
  }
}

.questions__content {
  background-image: url("../img/Mask Group 24.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 20.3125rem;
  padding-right: 20.3125rem;
}

.questions__title {
  padding-left: 20.3125rem;
  padding-right: 20.3125rem;
  padding-top: 5.625rem;
  text-align: center;
}

.questions__title .title-large {
  font-size: 2.375rem;
  letter-spacing: 0.095rem;
  padding: 0 10.625rem;
}

.questions .tab-name {
  margin-top: 4.375rem;
}

.questions .tab-name .nav {
  justify-content: center;
}

.questions .tab-name .nav-link {
  font-size: 1.125rem;
  letter-spacing: 0.045rem;
  color: #271c3f;
  padding: 0;
  margin: 0.5rem 1rem;
  margin-bottom: 2.5rem;
}

.questions .tab-name .nav-link.active {
  position: relative;
  font-family: Raleway-ExtraBold;
}

.questions .tab-name .nav-link.active::after {
  content: "";
  display: block;
  width: 3.9375rem;
  height: 0.3125rem;
  background-color: #f1737f;
  position: absolute;
  top: 63px;
  left: 50%;
  transform: translateX(-50%);
}

.questions__wrapper {
  padding-top: 3.75rem;
  padding-bottom: 5rem;
}

.questions__item {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1.5625rem 2.5rem;
  margin-bottom: 0.9375rem;
}

.questions__item-text p {
  font-family: Nunito-Bold;
  font-size: 1.3125rem;
  letter-spacing: 0.0525rem;
  margin-bottom: 0;
}

.questions i.fa-plus {
  padding-left: 0.625rem;
  color: #f1737f;
  cursor: pointer;
}

.questions .collapse-content {
  background-color: #ffffff;
  margin-top: -0.9375rem;
  margin-bottom: 0.9375rem;
}

.questions .collapse-text {
  padding: 1.25rem;
}

@media (max-width: 1024px) {
  .questions__content {
    padding: 4.375rem 3.125rem;
  }
  .questions__title {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    padding-top: 4.375rem;
  }
}

@media (max-width: 768px) {
  .questions__content {
    padding: 4.375rem 1.25rem;
  }
  .questions__title {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 4.375rem;
  }
  .questions__title .title-large {
    padding: 0;
  }
  .questions__wrapper {
    padding-bottom: 0;
  }
  .questions__item {
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }
  .questions__item-text p {
    font-size: 1rem;
    margin-left: 0;
    text-align: left;
  }
  .questions .tab-name .nav {
    flex-wrap: nowrap;
    align-items: flex-end;
  }
  .questions .tab-name .nav-link {
    font-size: 0.875rem;
    letter-spacing: 0.035rem;
  }
  .questions .tab-name .nav-link.active::after {
    top: 57px;
  }
}

@media (max-width: 576px) {
  .questions .tab-name .nav {
    align-items: unset;
  }
  .questions .tab-name .nav-link {
    margin: 0;
    padding-bottom: 20px;
    display: flex;
    height: 100%;
    align-items: flex-end;
  }
}

.about__mission-content {
  padding-left: 21.875rem;
  padding-right: 21.875rem;
}

.about__mission .container-vertical {
  padding-bottom: 2.5rem;
}

.about__mission-text {
  text-align: center;
}

.about__mission-text .description-top {
  color: #271c3f;
  font-size: 2.375rem;
  font-family: Nunito-SemiBold;
  letter-spacing: 0.095rem;
  padding: 0 12.5rem 1.875rem 12.5rem;
}

.about__mission-text .description-bottom {
  color: #271c3f;
  font-size: 1.3125rem;
  letter-spacing: 0.0525rem;
}

@media (max-width: 1024px) {
  .about__mission-content {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }
  .about__mission .container-vertical {
    padding-bottom: 7.5rem;
  }
  .about__mission-text .description-top {
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
    padding: 0;
  }
  .about__mission-text .description-bottom {
    font-size: 0.875rem;
    letter-spacing: 0.035rem;
    margin-top: 3.125rem;
  }
}

@media (max-width: 768px) {
  .about__mission-content {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.about__mission-tab {
  background-image: url("../img/Group 2345.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.about__mission-tab-content {
  padding-left: 21.875rem;
  padding-right: 21.875rem;
  text-align: center;
}

.about__mission-tab-content .values-slide .slick-list {
  margin: 0 -3.9375rem;
}

.about__mission-tab-content .tab-name .nav {
  justify-content: center;
}

.about__mission-tab-content .tab-name .nav-link {
  font-size: 1.125rem;
  letter-spacing: 0.045rem;
  color: #271c3f;
  padding: 0;
  margin: 0.5rem 1rem;
}

.about__mission-tab-content .tab-name .nav-link.active {
  position: relative;
  font-family: Raleway-ExtraBold;
}

.about__mission-tab-content .tab-name .nav-link.active::after {
  content: "";
  display: block;
  width: 3.9375rem;
  height: 0.3125rem;
  background-color: #f1737f;
  position: absolute;
  top: 67px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Raleway-ExtraBold;
}

.about__mission-tab-content .tab-content .tab-pane-values {
  margin-top: 5.625rem;
}

.about__mission-tab-content .tab-content .tab-pane-philosophy {
  margin-top: 7.8125rem;
}

.about__mission-tab-content .tab-content .values-slide .values-item {
  text-align: center;
  padding: 0 3.9375rem;
}

.about__mission-tab-content .tab-content .values-slide .values-item:focus {
  outline: unset;
}

.about__mission-tab-content .tab-content .values-slide .title {
  width: 17.1875rem;
  height: 17.1875rem;
  margin: auto;
  border-radius: 50%;
  background-color: white;
  font-size: 1.5rem;
  font-family: Nunito-Bold;
  letter-spacing: 0.06rem;
  color: #271c3f;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 1.5625rem;
  margin-bottom: 3.125rem;
}

.about__mission-tab-content .tab-content .values-slide .title p {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  height: 4.6875rem;
}

.about__mission-tab-content .tab-content .values-slide .description {
  text-align: left;
  font-size: 1.125rem;
  letter-spacing: 0.045rem;
  color: #271c3f;
  width: 17.1875rem;
  margin: auto;
}

.about__mission-tab-content .tab-content .philosophy-content .philosophy-item {
  margin-top: 2.5rem;
}

.about__mission-tab-content .tab-content .philosophy-content .title {
  font-size: 2rem;
  font-family: Nunito-Bold;
  letter-spacing: 0.08rem;
  color: #271c3f;
  margin-bottom: 2.1875rem;
}

.about__mission-tab-content .tab-content .philosophy-content .description {
  font-size: 1.3125rem;
  letter-spacing: 0.0525rem;
  color: #271c3f;
}

@media (max-width: 1024px) {
  .about__mission-tab {
    position: relative;
  }
  .about__mission-tab-content {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .about__mission-tab-content .values-slide .slick-list {
    margin: 0;
  }
  .about__mission-tab-content .tab-name {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(-100%);
  }
  .about__mission-tab-content .tab-name .nav-link {
    font-size: 0.875rem;
    letter-spacing: 0.035rem;
    margin-bottom: 0;
  }
  .about__mission-tab-content .tab-content .tab-pane-values {
    margin-top: 0;
  }
  .about__mission-tab-content .tab-content .tab-pane-philosophy {
    margin-top: 0;
  }
  .about__mission-tab-content .tab-content .values-slide .values-item {
    padding: 0;
  }
  .about__mission-tab-content .tab-content .values-slide .description {
    text-align: center;
    font-size: 0.875rem;
    letter-spacing: 0.035rem;
    margin-bottom: 3.125rem;
  }
  .about__mission-tab-content .tab-content .philosophy-content .title {
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
  }
  .about__mission-tab-content .tab-content .philosophy-content .description {
    font-size: 0.875rem;
    letter-spacing: 0.035rem;
  }
  .about__mission-tab .slick-dots li.slick-active button:before {
    color: #271c3f;
  }
  .about__mission-tab .slick-dots li button:before {
    font-size: 10px;
    color: #271c3f;
    opacity: 0.1;
  }
}

.hero-section {
  background-image: url("../img/Group 2344.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-section-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .container-vertical {
  padding-top: 11.25rem;
  padding-bottom: 11.25rem;
}

.hero-section-text {
  text-align: center;
}

#insight .hero-section {
  background-image: url("../img/Mask Group 26.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#contact .hero-section {
  background-image: url("../img/Mask Group 27.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1024px) {
  .hero-section-content {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .hero-section .container-vertical {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
  .hero-section-text .title-white-large {
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
  }
}

@media (max-width: 576px) {
  .hero-section {
    background-image: url("../img/Group 2371.jpg");
  }
  #insight .hero-section {
    background-image: url("../img/Group 2373.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  #contact .hero-section {
    background-image: url("../img/Group 2374.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.category__content {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 2.8125rem;
  padding-bottom: 6.25rem;
}

.category__item {
  margin-bottom: 5.625rem;
}

.category__text {
  padding-left: 5.3125rem;
  padding-right: 3.4375rem;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.category__text .title {
  font-family: Raleway-MediumItalic;
  font-size: 0.875rem;
  letter-spacing: 0.105rem;
  color: #f1737f;
}

.category__text .date {
  font-family: Raleway-Regular;
  font-size: 0.875rem;
  letter-spacing: 0.035rem;
  color: #271c3f;
}

.category__text .sub-title {
  font-family: Nunito-Bold;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  color: #271c3f;
}

.category__text .description {
  font-size: 1.125rem;
  letter-spacing: 0.045rem;
  color: #271c3f;
}

.category__search {
  margin-bottom: 1.875rem;
  position: relative;
}

.category__search input {
  width: 100%;
  height: 3.875rem;
  border-radius: 41px;
  border: unset;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  padding-left: 1.875rem;
}

.category__search input:focus {
  outline: unset;
}

.category__search ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 1.125rem;
  letter-spacing: 0.045rem;
  color: #c8d1dc;
}

.category__search .wrapper-img {
  width: 2.9375rem;
  height: 2.9375rem;
  line-height: 2.8125rem;
  border-radius: 50%;
  background-color: #f8b28e;
  text-align: center;
  border: unset;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.category__email {
  background-color: #c06c86;
  border-radius: 1.25rem;
  padding: 4.6875rem 1.25rem 6.25rem 1.25rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.category__email .title {
  font-family: Raleway-Bold;
  font-size: 1.3125rem;
  letter-spacing: 0.0525rem;
  color: #ffffff;
  margin-top: 4.0625rem;
  margin-bottom: 3.125rem;
}

.category__email-input {
  width: 100%;
  height: 3.25rem;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
}

.category__email-input input {
  flex-grow: 1;
  background-color: #ffffff;
  border: unset;
  padding-left: 1.875rem;
}

.category__email-input input:focus {
  outline: unset;
}

.category__email-input ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 1rem;
  letter-spacing: 0.04rem;
  color: #271c3f;
  opacity: 0.28;
}

.category__email-input button {
  font-family: Raleway-Bold;
  font-size: 0.8125rem;
  background-color: #f8b28e;
  color: #ffffff;
  letter-spacing: 0.0325rem;
  width: 5rem;
  border-radius: 10px;
}

.category__tags {
  margin-bottom: 3.125rem;
}

.category__tags .title {
  font-family: Nunito-Bold;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  color: #271c3f;
  margin-bottom: 1.25rem;
}

.category__tags li {
  display: inline-block;
  background-color: #f4f0fd;
  padding: 0.4375rem 0.9375rem;
  border-radius: 20px;
  margin-bottom: 0.625rem;
}

.category__tags a {
  font-family: Raleway-SemiBold;
  font-size: 1.0625rem;
  letter-spacing: 0.0425rem;
  color: #271c3f;
}

.category__menu .title {
  font-family: Nunito-Bold;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  color: #271c3f;
}

.category__menu a {
  font-size: 1.0625rem;
  letter-spacing: 0.0425rem;
  line-height: 2.5rem;
  color: #271c3f;
}

.category .btn-read-more {
  font-family: Raleway-Bold;
  font-size: 1.125rem;
  letter-spacing: 0.045rem;
  color: #f8b28e;
}

.category .group-img a {
  padding: 0 1.875rem;
}

@media (max-width: 1024px) {
  .category__content {
    padding: 4.375rem 3.125rem;
  }
  .category__text {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .category__content {
    padding: 4.375rem 3.125rem;
  }
  .category__item {
    border-bottom: 2px solid rgba(39, 28, 63, 0.2);
  }
  .category__text {
    padding: 1.875rem 0;
  }
  .category__text .title {
    font-size: 0.75rem;
    letter-spacing: 0.075rem;
  }
  .category__text .date {
    font-size: 0.625rem;
    letter-spacing: 0.025rem;
  }
  .category__text .description {
    font-size: 0.875rem;
    letter-spacing: 0.035rem;
    margin-bottom: 2.5rem;
  }
  .category__email .title {
    font-size: 1.125rem;
    letter-spacing: 0.045rem;
  }
  .category__email-input {
    width: 100%;
    height: 3.25rem;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
  }
  .category__email-input input {
    flex-grow: 1;
    background-color: #ffffff;
    border: unset;
    padding-left: 1.875rem;
  }
  .category__email-input input:focus {
    outline: unset;
  }
  .category__email-input ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 1rem;
    letter-spacing: 0.04rem;
    color: #271c3f;
    opacity: 0.28;
  }
  .category__email-input button {
    font-family: Raleway-Bold;
    font-size: 0.8125rem;
    background-color: #f8b28e;
    color: #ffffff;
    letter-spacing: 0.0325rem;
    width: 5rem;
    border-radius: 10px;
  }
  .category btn-read-more {
    font-size: 0.875rem;
    letter-spacing: 0.035rem;
  }
  .category .group-img a {
    padding: 0 1.25rem;
  }
}

@media (max-width: 576px) {
  .category__content {
    padding: 4.375rem 1.25rem;
  }
}

.contact__content {
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 4.6875rem;
  padding-bottom: 6.5625rem;
}

.contact__left {
  margin-top: 2.8125rem;
}

.contact__left .title {
  font-family: Raleway-ExtraBold;
  font-size: 0.75rem;
  letter-spacing: 0.09rem;
  color: #271c3f;
  margin-bottom: 0.8125rem;
  text-transform: uppercase;
}

.contact__left img {
  width: 1.25rem;
}

.contact__left span, .contact__left p {
  font-size: 1.0625rem;
  letter-spacing: 0.0425rem;
  line-height: 2.75rem;
  color: #271c3f;
  margin-bottom: 0;
}

.contact__left .info div {
  margin-left: 0.9375rem;
}

.contact__left .contact__email {
  margin-bottom: 0.9375rem;
}

.contact__left .contact__email span {
  margin-left: 0.9375rem;
}

.contact__left .contact__partner {
  margin: 3.125rem 0;
}

.contact__left .contact__partner p {
  word-break: break-all;
}

.contact__left .contact__sales p {
  word-break: break-all;
}

.contact__right {
  background-color: #fff5f0;
  border-radius: 20px;
  padding: 3.75rem 10rem;
  text-align: center;
}

.contact__right .title {
  font-family: Nunito-Bold;
  font-size: 2.625rem;
  letter-spacing: 0.105rem;
  color: #271c3f;
}

.contact__right .sub-title {
  font-size: 1.3125rem;
  letter-spacing: 0.0525rem;
  color: #271c3f;
  margin-bottom: 3.125rem;
}

.contact form input {
  height: 4.0625rem;
  border-radius: 10px;
  background-color: #ffffff;
  border: unset;
  padding-left: 1.25rem;
}

.contact form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 0.875rem;
  letter-spacing: 0.035rem;
  color: #c8d1dc;
}

.contact form textarea {
  resize: none;
  border: unset;
  padding-left: 1.25rem;
  padding-top: 1.4375rem;
}

.contact form .btn-color-orange {
  height: 3.5625rem;
  line-height: 2.8125rem;
  margin-top: 1.5625rem;
}

.contact form textarea {
  width: 100%;
}

.contact form .btn-contact-submit {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.06rem;
  width: 16.5625rem;
  height: 3.5625rem;
  line-height: 2.8125rem;
  border-radius: 38px;
  background-color: #f8b28e;
  color: #ffffff;
  margin-top: 1.5625rem;
}

.contact form .wpcf7-not-valid-tip {
  font-family: Montserrat-Medium;
  font-weight: unset;
  font-size: 0.75rem;
  color: #f1737f;
  text-align: left;
  margin-top: 0.625rem;
}

@media (max-width: 1024px) {
  .contact__content {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    padding-top: 2.5rem;
  }
  .contact__right {
    padding: 4.6875rem 1.25rem;
  }
}

@media (max-width: 768px) {
  .contact__content {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-top: 2.5rem;
  }
  .contact__left {
    padding: 0 1.25rem;
    margin-bottom: 4.0625rem;
  }
  .contact__left .title {
    font-size: 0.625rem;
    letter-spacing: 0.075rem;
  }
  .contact__left span, .contact__left p {
    font-size: 1.125rem;
    letter-spacing: 0.045rem;
    line-height: 1.6875rem;
    color: #271c3f;
  }
  .contact__left .contact__phone {
    margin-bottom: 1.5625rem;
  }
  .contact__left .contact__partner {
    margin: 2.1875rem 0;
  }
  .contact__right {
    padding: 4.6875rem 1.25rem;
    border-radius: unset;
    margin-left: 0;
    margin-right: 0;
  }
  .contact__right .title {
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
  }
  .contact__right .sub-title {
    font-family: Raleway-Bold;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    margin-bottom: 1.875rem;
  }
  .contact form .btn-color-orange {
    margin-top: 2.5rem;
  }
}

@media (max-width: 576px) {
  .contact__right {
    padding: 4.6875rem 1.25rem;
    border-radius: unset;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }
}

.reviews {
  background-image: url("../img/Path 1041.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.reviews__content {
  padding-left: 20.3125rem;
  padding-right: 20.3125rem;
}

.reviews__title .title-large {
  margin-bottom: 3.4375rem;
}

.reviews__item {
  text-align: left;
  margin-bottom: 0.9375rem;
}

.reviews__item:focus {
  outline: unset;
}

.reviews__item-wrapper {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
  height: 100%;
  padding: 1.875rem 2.1875rem 4.0625rem 2.1875rem;
  font-size: 1.125rem;
  color: #271c3f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviews__item-wrapper .wrapper-description {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviews__item-wrapper .description {
  margin-top: 7.1875rem;
  margin-bottom: 2.8125rem;
  letter-spacing: 0.045rem;
  line-height: 2.375rem;
}

.reviews__item-wrapper .name {
  margin-bottom: 0;
  font-family: Raleway-Bold;
}

.reviews .wrapper-load-more {
  margin-top: 4.375rem;
}

@media (max-width: 1024px) {
  .reviews__content {
    padding: 4.375rem 3.125rem;
  }
  .reviews__item-wrapper .description {
    margin-top: 1.875rem;
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 768px) {
  .reviews__title .title-large {
    margin-bottom: 3rem !important;
  }
  .reviews__content {
    padding: 4.375rem 1.25rem;
  }
  .reviews__item {
    margin-bottom: 2.5rem;
  }
  .reviews__item-wrapper .description {
    font-size: 0.875rem;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
    line-height: 1.875rem;
  }
  .reviews__item-wrapper .name {
    font-size: 0.875rem;
  }
  .reviews .wrapper-load-more {
    margin-top: 0;
  }
  .reviews button.btn-border-purple-large {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */